.vscode/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj


Binaries/*
Build/*

Saved/*

# Compiled source files for the engine to use
Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*

# Assets for later use
Content/LaterUse

Content/__ExternalActors__
Content/__ExternalObjects__
Content/InfinityBladeEffects
!Content/InfinityBladeEffects/Effects/FX_Cines/Ausar/P_Ausar_Resurrection2.uasset